node_modules
vendor
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.*
.idea
.vscode
*.iml
storage/*.key
storage/app/public
storage/debugbar
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
public/storage
